*{
    padding: 0;
    margin: 0;
}
.nav-container{
    background-color: rgb(73, 71, 71);
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}
.logo-img{
    width: 90px;
    height: 20px;
}
.logo-img:hover{
    width: 100px;
}
.menu-logo{
    padding-top: 10px;
    cursor: pointer;
}
.menu-item{
    display: flex;
    list-style: none;
}
.item{
    margin-right: 30px;
    font-size: 18px;
    padding-right: 10px;
    cursor: pointer;
    color: white;
}
.item:hover{
    text-decoration: underline;
    
}
