*{
    padding: 0;
    margin: 0;
}
.nav-container{
    background-color: rgb(73, 71, 71);
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}
.logo-img{
    width: 90px;
    height: 20px;
}
.logo-img:hover{
    width: 100px;
}
.menu-logo{
    padding-top: 10px;
    cursor: pointer;
}
.menu-item{
    display: flex;
    list-style: none;
}
.item{
    margin-left: 30px;
    font-size: 18px;
    padding-right: 10px;
    cursor: pointer;
    color: white;
}
.item:hover{
    text-decoration: underline;
    
}
.menu-container{
    background-image: url("img/background.png"),
    linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
   
}
.menu-text{
    margin-left: 10px;
}
.menu-header{
    font-size: 60px;
    color:white;
}
.menu-desc{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
button{
    padding: 10px 30px;
    margin-top: 15px;
    background-color: rgba(247, 247, 36, 0.974);
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 500px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(226, 44, 80);
    color: white;
    border-radius: 10px;
}
.menu-img{
    width: 300px;
}
