*{
    padding: 0;
    margin: 0;
}
.nav-container{
    background-color: rgb(73, 71, 71);
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}
.logo-img{
    width: 90px;
    height: 20px;
}
.logo-img:hover{
    width: 100px;
}
.menu-logo{
    padding-top: 10px;
    cursor: pointer;
}
.menu-item{
    display: flex;
    list-style: none;
}
.item{
    margin-left: 30px;
    font-size: 18px;
    padding-right: 10px;
    cursor: pointer;
    color: white;
}
.item:hover{
    text-decoration: underline;
    
}
.menu-container{
    background-image: url("img/background.png"),
    linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
   
}
.menu-text{
    margin-left: 10px;
}
.menu-header{
    font-size: 60px;
    color:white;
}
.menu-desc{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
button{
    padding: 10px 30px;
    margin-top: 15px;
    background-color: crimson;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(226, 44, 80);
    color: wheat;
    border-radius: 8px;
}
.menu-img{
    width: 300px;
}
.about-container{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 20px;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
    
}
.about-img{
    width: 300px;
}
.about-title{
    font-size: 55px;
    text-align: center;
    padding-top: 20px;
}
.about-h1{
    margin-bottom: 15px;
}

.service-container{
    background-image: url(img/background.png),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    height: 65vh;
}
.service-header{
    font-size: 55px;
    text-align: center;
    color: white;
    margin-top: 40px;
    padding-top: 40px;
}
.service-1{
    width: 250px;
    height: 320px;
    box-shadow: 10px 10px 30px gray;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 30px;
}
.service-img{
    width: 70px;
    margin-top: 15px;
}
.service-desc{
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
}
.box{
    display: flex;
    justify-content: space-around;
}
.btn{
    background-color: rgb(88, 87, 87);
}

.footer-container{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 60vh;
    align-items: center;
}
.footer-img{
    width: 110px;
    height: 25px;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: white;
   
}
hr{
    color: white;
}
.social-icon{
    display: flex;
    list-style: none;
      
}
.icon{
    padding-right: 10px;
    padding-top: 8px;
    font-size: 28px;
}
.icon:hover{
    color: red;
}